
@{
    ViewData["Title"] = "Chapter_V_3_Final_Mine_Closure_Plan";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold text-center">CHAPTER-V FINAL MINE CLOSURE PLAN</div>
                            <div class="panel-body">

                                <div class="row">


                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    5.2 The information on protective measures for reclamation and rehabilitation
                                                    works year wise may be provided as per the following table:
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="panel-body col-md-12">

                                                            <div class="panel panel-info col-md-12">
                                                                <div class="panel-heading">
                                                                    Item:  Reclamation
                                                                    and
                                                                    Rehabilitation
                                                                    of Mined Out
                                                                    Area/ Stopes
                                                                </div>

                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="form-group col-md-4">
                                                                            <label class="field-label ">
                                                                                Void available for Backfilling (Area x D)
                                                                                pit-wise /stope wise (cuM)
                                                                            </label>

                                                                        </div>
                                                                        <div class="form-group col-md-6 text-center">
                                                                            <label class="field-label ">
                                                                                Proposals
                                                                            </label>

                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">

                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                N
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                NF
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                T
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>


                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East)
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Void proposed for backfilling by waste
                                                                                /tailings (cuM)
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Area available for rehabilitation (ha):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>
                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Proposal for Afforestation on the
                                                                                backfilled area (ha)
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                No of saplings:
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Rehabilitation by making water
                                                                                reservoir (ha):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East)
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>
                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Any other means (specify with grid
                                                                                values)
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">
                                                                                Cost including watch and care during
                                                                                the year:
                                                                            </label>
                                                                        </div>



                                                                        <div class="form-group col-md-4">
                                                                            <input type="text" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-4">
                                                                            <input type="text" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="panel-body col-md-12">

                                                            <div class="panel panel-info col-md-12">
                                                                <div class="panel-heading">
                                                                    Rehabilitation of waste land within lease
                                                                </div>

                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Area available for rehabilitation (ha):
                                                                            </label>
                                                                        </div>

                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">

                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                N
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                NF
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                T
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>


                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East) :
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Rehabilitation proposed(ha)
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Method of rehabilitation:
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">
                                                                                Cost including watch and care during
                                                                                the year:
                                                                            </label>
                                                                        </div>



                                                                        <div class="form-group col-md-4">
                                                                            <input type="text" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-4">
                                                                            <input type="text" class="form-control" />
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>



                                                    <div class="row">
                                                        <div class="panel-body col-md-12">

                                                            <div class="panel panel-info col-md-12">
                                                                <div class="panel-heading">
                                                                    Others
                                                                </div>

                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Specify method of rehabilitation:
                                                                            </label>
                                                                        </div>

                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">

                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                N
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                NF
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                T
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>


                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Area (ha) :
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Rehabilitation proposed(ha)
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>



                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">
                                                                                Cost including watch and care during
                                                                                the year:
                                                                            </label>
                                                                        </div>



                                                                        <div class="form-group col-md-4">
                                                                            <input type="text" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-4">
                                                                            <input type="text" class="form-control" />
                                                                        </div>

                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="panel-body col-md-12">

                                                            <div class="panel panel-info col-md-12">
                                                                <div class="panel-heading">
                                                                    Cumulative
                                                                </div>

                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Area rehabilitated (ha):
                                                                            </label>
                                                                        </div>

                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">

                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                N
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                NF
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                T
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>


                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Rehabilitation Cost :
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>