@{
    ViewData["Title"] = "Chapter_III_1_Mining";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold text-center">
                                CHAPTER-III MINING (Details should be in concurrence with the
                                approved Mining Plan/RMP/MMP/SOM)
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    3.1 YEAR-WISE EXCAVATION PROPOSALS
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    (a) YEAR WISE DEVELOPMENT & PRODUCTION
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">

                                                        <div class="form-group col-md-1">
                                                            <label class="field-label">
                                                                Year
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">
                                                                Total ROM
                                                                (Tonnes)
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label">
                                                                Total overburden /
                                                                waste (m3)
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                Ore To OB Ratio
                                                                T / m3
                                                            </label>

                                                        </div>

                                                        <div class="form-group col-md-1 ">
                                                            <label class="field-label ">
                                                                (1)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">
                                                                (2)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4 ">
                                                            <label class="field-label ">
                                                                (3)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <label class="field-label ">
                                                                (4)=(2)/(3)
                                                            </label>
                                                        </div>

                                                        <div class="form-group col-md-1 ">
                                                            <label class="field-label ">
                                                                1
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-1 ">
                                                            <label class="field-label ">
                                                                2
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>



                                                    </div>

                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                   3.3 YEAR WISE PRODUCTION -
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                Year
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label ">
                                                                ROM Ore from In-
                                                                situ (Tonnes)
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                Recovered Ore from dump
                                                                working (Tonnes)
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                Total ore production
                                                                (Tonnes)
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <label class="field-label ">
                                                                (1)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <label class="field-label ">
                                                                (2)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <label class="field-label ">
                                                                (3)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <label class="field-label ">
                                                                (4)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <select name="cars" id="cars" class="form-control">
                                                                <option value="volvo">2024</option>
                                                                <option value="saab">2025</option>
                                                               
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                       
                                                       
                                                    </div>

                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    3.4 UNDERGROUND MINING
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="panel panel-info">
                                                            <div class="panel-heading">
                                                                3.4.1 Underground layout- Attach a note briefly describing the updated
                                                                underground layout using longitudinal sections / longitudinal vertical
                                                                projection and level plans where necessary indicating:-
                                                                - sizes and intervals of levels and raises / winzes with proper reasoning
                                                                - proposed year wise level wise extent of development for two years along
                                                                with the support system
                                                            </div>
                                                            
                                                            <div class="panel-body">
                                                                <div class="form-group col-md-12">
                                                                    <label class="field-label">
                                                                        Note: Latest updated (maximum 3 months old) underground plan should
                                                                        be enclosed to show the underground layout alongwith mentioning
                                                                        proposed working proposals through dotted lines.
                                                                    </label>

                                                                </div>
                                                            </div>
                                                        </div>
                                                      

                                                    </div>

                                                    
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>