@{
    ViewData["Title"] = "Chapter_II_3GelogyandExploration";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold text-center">CHAPTER-II GELOGY AND EXPLORATION</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    2.2.4 Expenditure incurred in various prospecting/exploration operations (as proposed in
                                                    the last approved MP/RMP/MMP/SOM/FMCP period):
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    2.2.5 Total lease area explored under various categories
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">

                                                        <div class="form-group col-md-4">
                                                            <label class="field-label">
                                                                G-Axis
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-4  ">
                                                            <label class="field-label ">
                                                                Area (ha)
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label">
                                                                Depth
                                                                (meter)
                                                            </label>

                                                        </div>

                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                G1
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2">

                                                            <input type="text" class="form-control" placeholder="N" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="NF" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="Total" />
                                                        </div>
                                                        <div class="form-group col-md-4">

                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                G2
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2">

                                                            <input type="text" class="form-control" placeholder="N" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="NF" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="Total" />
                                                        </div>
                                                        <div class="form-group col-md-4">

                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                G3
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2">

                                                            <input type="text" class="form-control" placeholder="N" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="NF" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="Total" />
                                                        </div>
                                                        <div class="form-group col-md-4">

                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                G4
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2">

                                                            <input type="text" class="form-control" placeholder="N" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="NF" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="Total" />
                                                        </div>
                                                        <div class="form-group col-md-4">

                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                Area Unexplored#
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2">

                                                            <input type="text" class="form-control" placeholder="N" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="NF" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="Total" />
                                                        </div>
                                                        <div class="form-group col-md-4">

                                                            <input type="text" class="form-control" placeholder="-XX-" />
                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                Non-Mineralized Area
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2">

                                                            <input type="text" class="form-control" placeholder="N" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="NF" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="Total" />
                                                        </div>
                                                        <div class="form-group col-md-4">

                                                            <input type="text" class="form-control" placeholder="-XX-" />
                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                               Total
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2">

                                                            <input type="text" class="form-control" placeholder="N" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="NF" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <input type="text" class="form-control" placeholder="Total" />
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">

                                                            <input type="text" class="form-control" placeholder="$" />
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    2.2.6  Blocked Resources under various Modifying Factors in terms of item no. 14 of Part-I
                                                    (Definitions) of MEMC Rules‟2015:
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">

                                                        <div class="form-group col-md-1">
                                                            <label class="field-label">
                                                                Sl.
                                                                No.
                                                            </label>
                                                            
                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                Modifying Factor
                                                            </label>
                                                           
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                Brief Details of the
                                                                applicable factors causing
                                                                blockage of Resources
                                                            </label>
                                                          
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                Blocked
                                                                Resources
                                                                (T)
                                                            </label>
                                                          
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                UNFC
                                                                Category
                                                            </label>
                                                          
                                                        </div>

                                                        <div class="form-group col-md-1">
                                                            <label class="field-label">
                                                                1
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                Technical Factors
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                           
                                                                <input type="text" class="form-control" />
                                                           

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-1">
                                                            <label class="field-label">
                                                                2
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                Statutory Factors
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">

                                                            <input type="text" class="form-control" />


                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-1">
                                                            <label class="field-label">
                                                                3
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                Market or economy
                                                                related factors
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">

                                                            <input type="text" class="form-control" />


                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-1">
                                                            <label class="field-label">
                                                                4
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-2 ">
                                                            <label class="field-label ">
                                                                Others
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">

                                                            <input type="text" class="form-control" />


                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                       
                                                        <div class="form-group col-md-6 text-center ">
                                                            <label class="field-label ">
                                                                Total Blocked Resources (in T)
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-6">

                                                            <input type="text" class="form-control" />


                                                        </div>
                                                      
                                                    </div>
                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

