@{
    ViewData["Title"] = "Chapter_IV_1_Stacking_Of_Top_Soil_Mineral_Reject_Fines_Tailings_Slimes_and_Their_Disposal";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}



<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold text-center">
                                CHAPTER-IV STACKING OF TOP SOIL, MINERAL REJECT, FINES,
                                TAILINGS/SLIMES AND THEIR DISPOSAL
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <div class="panel-group">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading bold">
                                                            4.1 Details of Dumps/Stacks available at the mine site
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">

                                                                <div class="form-group col-md-12">
                                                                    <label class="field-label">
                                                                        Particulars of Dump
                                                                    </label>

                                                                </div>
                                                                <div class="panel panel-info col-md-12">
                                                                    <div class="panel-heading">
                                                                        Top Soil
                                                                    </div>

                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Location
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Location" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Area(ha)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Area(ha)" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Quantity
                                                                                    (cuM)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Quantity(cuM)" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="panel panel-info col-md-12">
                                                                    <div class="panel-heading">
                                                                        OB/ Waste
                                                                    </div>

                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Location
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Location" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Area(ha)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Area(ha)" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Quantity
                                                                                    (cuM)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Quantity(cuM)" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="panel panel-info col-md-12">
                                                                    <div class="panel-heading">
                                                                        Mineral
                                                                        Rejects
                                                                    </div>

                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Location
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Location" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Area(ha)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Area(ha)" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Quantity
                                                                                    (T)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Quantity(cuM)" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="panel panel-info col-md-12">
                                                                    <div class="panel-heading">
                                                                        Fines
                                                                    </div>

                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Location
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Location" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Area(ha)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Area(ha)" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Quantity
                                                                                    (T)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Quantity(cuM)" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="panel panel-info col-md-12">
                                                                    <div class="panel-heading">
                                                                        Tailings/Slimes
                                                                    </div>

                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Location
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Location" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Area(ha)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Area(ha)" />
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Quantity
                                                                                    (T)
                                                                                </label>
                                                                                <input type="text" class="form-control" placeholder="Quantity(cuM)" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                            <div class="card-footer row">
                                                                <div class="form-group col-md-12 text-center">
                                                                    <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                                    @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <div class="panel-group">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading bold">
                                                            4.2 Details of Top Soil, Waste/OB, Mineral Rejects, Fines & Tailings/ Slimes
                                                            generation during the closure period of two years
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                               
                                                            </div>
                                                            <div class="card-footer row">
                                                                <div class="form-group col-md-12 text-center">
                                                                    <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                                    @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>






                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>