d
@{
    ViewData["Title"] = "Chapter_V_2_Final_Mine_Closure_Plan";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold text-center">CHAPTER-V FINAL MINE CLOSURE PLAN</div>
                            <div class="panel-body">

                                <div class="row">


                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    5.2 The information on protective measures for reclamation and rehabilitation
                                                    works year wise may be provided as per the following table:
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="panel-body col-md-12">

                                                            <div class="panel panel-info col-md-12">
                                                                <div class="panel-heading">
                                                                    Item:Dump
                                                                    management
                                                                </div>

                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="form-group col-md-4">
                                                                            <label class="field-label ">
                                                                                Area available for rehabilitation (ha)s:
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-8 text-center">
                                                                            <label class="field-label ">
                                                                                Proposals
                                                                            </label>
                                                                        </div>

                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">

                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                N
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                NF
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                T
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>


                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East) :
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Proposed afforestation Area (ha):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                No of saplings:
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Any other method
                                                                                (specify):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>
                                                                        <div class="form-group col-md-12">
                                                                            <label class="field-label ">
                                                                                Grid reference (North/East):
                                                                            </label>
                                                                        </div>


                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                I
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>

                                                                        <div class="form-group col-md-3 text-center">
                                                                            <label class="field-label ">
                                                                                II
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="F" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="NF" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <input type="text" class="form-control" placeholder="T" />
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <label class="field-label ">
                                                                                Cost including watch and care during
                                                                                the year:
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group col-md-4">
                                                                            <input type="text" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group col-md-4 text-center">
                                                                            <input type="text" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="card-footer row">
                                                            <div class="form-group col-md-12 text-center">
                                                                <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                                @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="panel-body col-md-12">

                                                                <div class="panel panel-info col-md-12">
                                                                    <div class="panel-heading">
                                                                        Management
                                                                        of worked out
                                                                        benches
                                                                    </div>

                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-4">
                                                                                <label class="field-label ">
                                                                                    Area available for rehabilitation (ha)s:
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-8 text-center">
                                                                                <label class="field-label ">
                                                                                    Proposals
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label ">

                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    N
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    NF
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    T
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    I
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    II
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>


                                                                            <div class="form-group col-md-12">
                                                                                <label class="field-label ">
                                                                                    Grid reference (North/East) :
                                                                                </label>
                                                                            </div>


                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    I
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    II
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <label class="field-label ">
                                                                                    Proposed afforestation Area (ha):
                                                                                </label>
                                                                            </div>


                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    I
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    II
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <label class="field-label ">
                                                                                    Grid reference (North/East):
                                                                                </label>
                                                                            </div>


                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    I
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    II
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <label class="field-label ">
                                                                                    No of saplings:
                                                                                </label>
                                                                            </div>


                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    I
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    II
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <label class="field-label ">
                                                                                    Any other method
                                                                                    (specify):
                                                                                </label>
                                                                            </div>


                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    I
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    II
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>
                                                                            <div class="form-group col-md-12">
                                                                                <label class="field-label ">
                                                                                    Grid reference (North/East):
                                                                                </label>
                                                                            </div>


                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    I
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>

                                                                            <div class="form-group col-md-3 text-center">
                                                                                <label class="field-label ">
                                                                                    II
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="F" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="NF" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" placeholder="T" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label ">
                                                                                    Cost including watch and care during
                                                                                    the year:
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-4 text-center">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="card-footer row">
                                                            <div class="form-group col-md-12 text-center">
                                                                <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                                @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer row">
                        <div class="form-group col-md-12 text-center">
                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
</body>

