=
@{
    ViewData["Title"] = "Chapter_V_5_Final_Mine_Closure_Plan";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold text-center">CHAPTER-V FINAL MINE CLOSURE PLAN</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    5.4    Financial assurance details
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <div class="form-group col-md-12">
                                                                <input type="text" class="form-control" placeholder="Issuing bank, date of issue, validity, BG No. etc. to be provided." />
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    Plans and Sections to be enclosed
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <div class="form-group col-md-12">
                                                                <label class="field-label ">
                                                                    All the applicable (opencast or underground as the case may be)
                                                                    statutory plans prepared digitally and required in terms of Rule 32 of
                                                                    MCDR‟2017 alongwith a plan showing the year-wise proposals for two
                                                                    years of final closure period on preferably 1:2000 scale, fulfilling the
                                                                    requirements of Rule 31 and prepared in terms of Rule 34 of the
                                                                    MCDR‟2017 should be enclosed with the document.
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>

                                            <div class="panel panel-success">
                                                <div class="panel-heading bold text-center">
                                                    List of documents to be Annexed
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">1</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">Copy of lease deed</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>

                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>

                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">2</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">Copy of approval letter for the last approved MP/SOM/RMP/MMP</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">3</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">Copy of valid EC/FC clearances from MOEF.</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">4</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">Copy of valid consent to operate from SPCB.</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">5</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">
                                                                Few photographs showing Land use of the lease area, environmental
                                                                status of the area/Ground Control Points/Lease Boundary Pillars
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">6</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">
                                                                Certificate of registration of the company and memorandum of the
                                                                association
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">7</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">Photo Identity Card of Lessee/Nominated Owner with address proof</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">8</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">
                                                                Copy of Board Resolution for declaration of nominated owner as per
                                                                Mines Act 1952
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">9</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">List of members of Board of Directors.</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">10</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">
                                                                Copies of violation letters issued by Indian Bureau of Mines or
                                                                statutory obligations issued by any other authority during last
                                                                approved mining plan period
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">11</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">
                                                                Copies of analysis report from NABL accredited laboratory or similar
                                                                accredited laboratory or Govt. laboratory
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">12</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">Copy of Financial Assurance</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">

                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">13</label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="field-label ">
                                                                Any other documents in support of the contents of Final Mine Closure
                                                                Plan
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <input type="file" id="myfile" name="myfile" class="form-control">


                                                        </div>
                                                        <div class="form-group col-md-2 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Upload  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                        <div class="form-group col-md-12 text-center">
                                                            <label class="field-label ">
                                                                Note:-  All the Certificates/ Consents/Undertakings and Annexures to be
                                                                enclosed at the end of the text part/FMCP format.3
                                                            </label>
                                                        </div>
                                                    </div>

                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer row">
                        <div class="form-group col-md-12 text-center">
                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>